package domain

import (
	"github.com/marcelofabianov/wisp"
)

type NewHelloInput struct {
	Message    string
	ActorEmail string
}

type Hello struct {
	ID      wisp.UUID           `db:"id"`
	Message wisp.NonEmptyString `db:"message"`
	events  []interface{}
	wisp.Audit
}

func NewHello(input *NewHelloInput) (*Hello, error) {
	id, err := wisp.NewUUID()
	if err != nil {
		return nil, NewErrHelloFailedGenerateUuid(err)
	}

	message, err := wisp.NewNonEmptyString(input.Message)
	if err != nil {
		return nil, NewErrHelloInvalidMessage()
	}

	h := &Hello{
		ID:      id,
		Message: message,
		events:  []interface{}{},
		Audit:   wisp.NewAudit(wisp.AuditUser(input.ActorEmail)),
	}

	h.events = append(h.events, NewHelloCreated(h))

	return h, nil
}

func (h *Hello) Events() []interface{} {
	return h.events
}
