package middleware

const (
	headerXRealIP            = "X-Real-IP"
	headerXForwardedFor      = "X-Forwarded-For"
	headerRequestID          = "X-Request-ID"
	headerRateLimitLimit     = "X-RateLimit-Limit"
	headerRateLimitRemaining = "X-RateLimit-Remaining"
	headerRateLimitReset     = "X-RateLimit-Reset"
	headerRetryAfter         = "Retry-After"
)
