package di

import (
	"go.uber.org/fx"

	"[[.ModuleName]]/internal/hello/handler"
	"[[.ModuleName]]/internal/hello/storage"
	"[[.ModuleName]]/internal/hello/usecase"
)

var HelloModule = fx.Module("hello",
	fx.Provide(
		storage.NewMemoryHelloRepository,
		usecase.NewCreateHelloUseCase,
		AsRouter(handler.NewHelloHandler),
	),
)
